.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    display: flex;
    flex-direction: column;
}

likes {
    display: flex;
}

.horizontal-container {
    display: flex;
    flex-direction: row
}

.like {
    display:flex;
    flex-direction: column;
}

img {
    width: .75em;
    height: .75em;
}

.portrait {
    width: 1.5em;
    height: 1.5em;
}